@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster&display=swap');
body {
    background-image: url("../images/books.jpg");
}

.Title{
    font-size: 90px;
    color: rgb(170, 250, 154);
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    
}

.par{ 
    font-size: 35px;
    color: rgb(113, 253, 124);
    font-family: 'Lobster', cursive;
    text-align: center;

}