@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Source+Serif+Pro:ital,wght@1,200&display=swap');

.Tit {
    font-size: 30px;
    font-family: 'Lobster', cursive; 
    text-decoration: none;
    text-align: center;
    
}


